body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.t {
    font-size: calc(28px + 8vw);
}

.st {
    font-size: calc(12px + 1.5vw);
}

a {
    color: #149414;
    text-decoration: none;
}

a.button {
    padding: 15px;
    border: #149414 1px solid;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.section {
    min-height: 100vh;
    padding: 5vw 0px 5vw 0px;
}

.rowdies {
    font-family: "Rowdies", sans-serif !important;
}

.outbutton-container {
    display: flex;
    gap: 20px; /* Adjusts the spacing between the buttons */
    margin-top: 20px; /* Adds some margin from the text above */
}

.outbutton {
    display: inline-block; /* Keeps each button block inline */
}

.corner-button:before,
.corner-button span:before,
.corner-button:after,
.corner-button span:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.corner-button {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    min-width: 100px;
    min-height: 10px;
    margin: 20px;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #149414;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: content-box;
    border: 2px solid transparent;
    text-align: center;
    line-height: 30px;
    transition: 0.75s ease;
}
.corner-button:before {
    top: -2px;
    left: -2px;
    border-top: 2px solid #149414;
    border-top-left-radius: 8px;
    border-left: 2px solid #149414;
    transition: 0.75s all;
}
.corner-button:after {
    top: -2px;
    right: -2px;
    border-top: 2px solid #149414;
    border-top-right-radius: 8px;
    border-right: 2px solid #149414;
    transition: 0.75s all;
}
.corner-button span {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
.corner-button span:before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #149414;
    border-bottom-left-radius: 8px;
    border-left: 2px solid #149414;
    transition: 0.75s all;
}
.corner-button span:after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #149414;
    border-bottom-right-radius: 8px;
    border-right: 2px solid #149414;
    transition: 0.75s all;
}
.corner-button:hover {
    color: #ffffff;
    border-radius: 10px;
}
.corner-button:hover:before,
.corner-button:hover:after {
    border-color: #149414;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.corner-button:hover span:before,
.corner-button:hover span:after {
    border-color: #149414;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
button:hover span::before,
button:hover span::after {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.pcTransition {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%; /* Make sure it covers the entire width */
    transition: height 1s ease-in-out; /* Transition for smooth expansion */
    z-index: 9999; /* Keep it on top of other elements */
    background-color: #003d00;
    opacity: 1;
    background: linear-gradient(135deg, #14941455 25%, transparent 25%) -10px 0/
            20px 20px,
        linear-gradient(225deg, #149414 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(315deg, #14941455 25%, transparent 25%) 0px 0/ 20px 20px,
        linear-gradient(45deg, #149414 25%, #003d00 25%) 0px 0/ 20px 20px;
}
